body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body .button {
  background-color: #0D6EFD;
  border-radius: 15px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  width: 120px;
  height: 50px;
}
body .input {
  height: 40px;
  background: #F8F9FA;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  text-align: center;
}
body .input::placeholder {
  color: #D9D9D9;
}
body .article__icon {
  color: #0D6EFD;
  margin: 5px;
}
body .nav {
  background-color: #D9D9D9;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
body .nav__placeholder {
  font-weight: 800;
}
body .nav__button {
  height: 50px;
  width: 75px;
}
body .header {
  background-image: url(/img/Lucas\ Kucheida\ -\ bg-masthead.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 15px 50px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 25px;
}
body .header__container {
  margin-bottom: 25px;
}
body .header__container__text {
  color: white;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body .header__container__input {
  margin: 25px;
}
body .header .carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}
body .header .carousel ol, body .header .carousel li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .header .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
body .header .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 25px;
}
body .header .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
body .section_article {
  display: none;
}
body .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.05);
  margin: 50px;
  border-radius: 15px;
}
body .form__input {
  margin: 15px;
  width: 70%;
}
body .form__input--msg {
  height: 125px;
}
body .form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .footer {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .footer__list {
  display: flex;
  list-style: none;
  padding: 0;
}
body .footer__list a {
  text-decoration: none;
}
body .footer__text {
  color: #9E9E9E;
}

@media only screen and (min-width: 481px) {
  .input {
    text-align: left !important;
  }
  .carousel {
    display: none;
  }
  .section_article {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }
  .section_article .article {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .form {
    position: relative;
  }
  .form::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70%;
    background-color: #D9D9D9;
    bottom: 110%;
  }
  .form__input {
    width: 100% !important;
  }
  .form__group .input {
    width: 70% !important;
  }
}
@media only screen and (min-width: 769px) {
  .header__container__input {
    width: 50% !important;
  }
  .section_article {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .section_article .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .form__group {
    flex-direction: row !important;
  }
  .form__input {
    width: 50% !important;
  }
}

/*# sourceMappingURL=style.css.map */
